.App {
  text-align: center;
}

.btn-google-sign-in,
.btn-github-sign-in,
.btn-sign-out {
  padding: 0.7rem 1.5rem;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn-google-sign-in {
  background-color: #1c6758;
}

.btn-github-sign-in {
  background-color: #25316d;
}

.btn-sign-out {
  background-color: #f94892;
}
